[submodule "detectron2"]
	path = detectron2
	url = https://github.com/johne16/detectron2.git
[submodule "mae"]
	path = mae
	url = https://github.com/johne16/mae.git
[submodule "SparK"]
	path = SparK
	url = https://github.com/johne16/SparK.git
